git+https://github.com/SymbiFlow/sphinx_materialdesign_theme.git#egg=sphinx-symbiflow-theme

docutils
sphinx
sphinx-autobuild
sphinxcontrib-wavedrom
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
